.mystyle-home-wrapper {
  text-align: center;
  background-color: gainsboro;
  margin: 3% 5%;
  padding: 0.5% 3%;
  border-radius: 1rem;
}
.home-helper-wrapper {
  text-align: left;
  padding: 1%;
}

.link {
  text-decoration: none;
}
